div.main-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

aside {
    display: block;
    float: left;
    width: 50%;
    max-width: 250px;
}

.title {
    font-size: 1.6em;
}

body {
    font-family: sans-serif;
    color: #657B83;
    background-color: #FDF6E3;
    font-size: 16px;
}

@media (min-width: 992px){
    .nav-item {
        margin-left : 1em;
        margin-right : 1em;
    }
}

code {
    font-size: 14px;
}

p, li {
   font-size: 16px;
   line-height: 1.5em; 
}

.navbar .navbar-nav .nav-link {
    color: #B58900;
    text-decoration: none;
}

a:link, 
a:visited, 
a:hover, 
a:active {
    color: #B58900;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}